numpy
pandas
matplotlib
seaborn
scikit-learn
tensorflow
keras
streamlit
tensorflow
keras 
torch
torchaudio
torchvision
transformers
optuna
opencv-python
torch
torchaudio
mlflow
flask
joblib
pickle-mixin
mlflow
gunicorn
requests
jupyter 
notebook
pillow
fastapi
uvicorn
pillow
jinja2
python-multipart
